<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - our_site_asp_net</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/template.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="logo">
                           <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><img src=@Url.Content("~/image/triangle.png") alt="logo"></a>
                    </div>
          <div>
              <ul>
                  <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="Add">Create New Profile</a>
                  </li>
                   <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Blog" asp-action="CreateBlog">Create New Blog</a>
                  </li>
              </ul>
          </div>
            <div class="menu">
               <!-- <img src=@Url.Content("~/image/menu-rounded-100.png") alt="menu"> -->
                <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Blog" asp-action="Blog">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="Index">Team</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Jobs">Jobs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Datenschutz">Datenschutz</a>
                        </li>
  
  </ul>
</div>
                  
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
<center>
<p>&nbsp;</p>
<h2 style="text-align: center;">Social Media</h2>
<p style="text-align: center;">&nbsp;</p>
<table style="width: 50%;">
<tbody>
<tr>
<td style="text-align: center;"><a href="https://www.xing.com/pages/mathema-gmbh" target="_blank" rel="noopener"><img src="@Url.Content("~/image/xing-icon-12.jpg")" alt="LinkedIn" width="80" /></a></td>
<td style="text-align: center;"><a href="https://www.linkedin.com/company/mathema-software-gmbh" target="_blank" rel="noopener"><img src="@Url.Content("~/image/linkedin.png")" alt="LinkedIn" width="70" border="0" /></a></td>
<td style="text-align: center;"><a href="https://www.youtube.com/channel/UC0vntD32UJckGUXcVvlrIiA" target="_blank" rel="noopener"><img src="@Url.Content("~/image/youtube.svg")" alt="LinkedIn" width="70" border="0" /></a></td>
<td style="text-align: center;"><a href="https://twitter.com/MATHEMA_GmbH" target="_blank" rel="noopener"><img src="@Url.Content("~/image/twitter.svg")" alt="LinkedIn" width="70" border="0" /></a></td>
<td style="text-align: center;"><a href="https://www.facebook.com/mathema.software.gmbh/" target="_blank" rel="noopener"><img src="@Url.Content("~/image/facebook.svg")" alt="LinkedIn" width="70" border="0" /></a></td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<div style="text-align: left;"><img src="@Url.Content("~/image/footer_banner.jpg")" alt="" class="width-100" />
<div class="overlap-no-mobile overlap-top-footer">
<h2 class="p-4 m-0 back-dark" style="display: inline-block; width: max-content;">Neugier. Freiheit. Gestalten.</h2>
<br /> <a href="index.php?option=com_content&amp;view=article&amp;id=8:karriere&amp;catid=2:uncategorised" class="m-0 mathema-jobs">Karriere bei MATHEMA</a></div>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div class="row pl-4">
<div class="p-4 col-xs-12 col-md col-lg col-xl" style="text-align: left;"><img src="@Url.Content("~/image/mantra.svg")" alt="LinkedIn" width="100%" border="0" /></div>
<div class="p-4 col-xs-12 col-md col-lg col-xl" style="text-align: left;"><span class="font-bold">BESUCHEN</span><br />MATHEMA GmbH <br />
<p>Schillerstraße 14 <br />90409 Nürnberg</p>
<a href="tel:0911376745-0" target="_blank" rel="noopener">Anfahrt</a></div>
<div class="p-4 col-xs-12 col-md col-lg col-xl" style="text-align: left;"><br />MATHEMA GmbH <br />
<p style="white-space: nowrap;">St.-Martin-Straße 64<br />81541 München</p>
<a href="tel:0911376745-0" target="_blank" rel="noopener">Anfahrt</a></div>
<div class="p-4 col-xs-12 col-md col-lg col-xl" style="text-align: left; white-space: nowrap;"><span class="font-bold">ANRUFEN</span><br />
<div style="display: flex;">Telefon: <br /> Fax:&nbsp; &nbsp; &nbsp;
<div>&nbsp;<a href="tel:0911376745-0" style="text-decoration: none;">+49 (0)911&nbsp;376745-0 <br /></a>&nbsp;+49 (0)911&nbsp;376745-55</div>
</div>
</div>
<div class="p-4 col-xs-12 col-md col-lg col-xl" style="text-align: left;"><span class="font-bold">MAILEN</span><br /> <a href="mailto:info@mathema.de" style="line-height: 34px;">info@mathema.de</a></div>
</div>
<div class="pl-2 pr-2 pt-3">&nbsp;
<table class="adaptive" style="width: 100%;" cellpadding="0">
<tbody>
<tr>
<td class="pl-4 pr-4" style="text-align: left;"><a href="index.php?option=com_content&amp;view=article&amp;id=5&amp;catid=2">Datenschutz</a></td>
<td class="pl-4 pr-4" style="text-align: left;"><a href="index.php?option=com_content&amp;view=article&amp;id=6&amp;catid=2">Impressum</a></td>
<td class="pl-4 pr-4" style="text-align: left;"><a href="index.php?option=com_content&amp;view=article&amp;id=30">AGBs</a></td>
<td style="width: 50%;">&nbsp;</td>
<td class="pl-4 pr-4" style="text-align: left;" nowrap="nowrap">© 2021 MATHEMA GmbH. All Rights Reserved.</td>
</tr>
</tbody>
</table>
</div>
<div class="back-dark text-white m-0 row width-100 standard-padding">
<table class="adaptive" style="width: 100%;">
<tbody>
<tr>
<td class="standard-padding" style="text-align: center; vertical-align: middle;">
<h3 class="m-0 text-white footer-header-fix">Fragen? Bei uns bekommst du Antworten.</h3>
</td>
<td style="text-align: center;"><a href="mailto:info@mathema.de" class="contact_white"><strong>Kontakt</strong></a></td>
</tr>
</tbody>
</table>
</div>
</center>
    </footer>
       <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
