@model List<our_site_asp_net.Models.EmployeProfile>

    <h1>Show team</h1>

    <table class="table">
        <thead>
        <tr>
            <th>
                Id
            </th>
             <th>
                employeName
            </th>
             
             <th>
                position
            </th>
             <th>
                schwerpunkte
            </th>
             <th>
               askMyanyThing
            </th>
             <th>
             
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach(var employe in Model)
        {
            <tr>
                <td>@employe.id</td>
                <td><img href="@employe.photoUrl" alt="some img"></td>
                 <td>@employe.employeName</td>
                   <td>@employe.position</td>
                    <td>@employe.schwerpunkte</td>
                     <td>@employe.askMyanyThing</td>
                       <td><a href="employee/view/@employe.id">view</a></td>
            </tr>
        }
        </tbody>
    </table>